In [37]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date    : 2017-12-29 12:19:53
# @Author  : guanglinzhou (xdzgl812@163.com)

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict
import gc
from sklearn.feature_selection import VarianceThreshold
import sklearn.feature_selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
project_path = '/Users/guanglinzhou/Desktop/DC_Mac/DC_Code/'
traindata_output_path = project_path + "preprocess/traindata_output/"
# testdata_output_path = project_path + "preprocess/testdata_output/"

traindata_output = pd.read_csv(traindata_output_path + 'traindata_output.csv')
traindata_output.fillna(0, inplace=True)
userid_series = traindata_output['userid']
y = traindata_output['orderType']
del traindata_output['userid']
del traindata_output['orderType']
X = traindata_output
print(X.shape)
variance_sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
c=variance_sel.fit_transform(X)
print(c.shape)
print(X.shape)

(40307, 80)
(40307, 69)
(40307, 80)

In [13]:
columns_index=variance_sel.get_support(indices=True)
features=[column for column in X.columns[columns_index]]

In [18]:
df=pd.DataFrame(c,columns=features)

In [20]:
df.shape

(40307, 69)

In [21]:
print(traindata_output.shape)

(40307, 80)

In [22]:
df=pd.concat([df,userid_series,y],axis=1)

In [31]:
a,b=sklearn.feature_selection.chi2(X,y)

In [33]:
a.shape

(80,)

In [34]:
b.shape

(80,)

In [38]:
X_new = SelectKBest(chi2, k=2).fit_transform(X, y)

In [39]:
X_new

array([[  1.18134719e+10,   5.02084144e+09],
       [  0.00000000e+00,   1.84220000e+02],
       [  6.24730029e+10,   2.79004506e+12],
       ...,
       [  0.00000000e+00,   8.94512422e+11],
       [  3.42250000e+02,   1.15267000e+03],
       [  0.00000000e+00,   2.01615600e+04]])

In [53]:
from sklearn.feature_selection import SelectKBest, chi2
select_k_best_classifier = SelectKBest(score_func=chi2, k=1)
select_k_best_classifier.fit_transform(X,y)
columns_index=select_k_best_classifier.get_support(indices=True)
features=[column for column in X.columns[columns_index]]
print(features)

['interval_last3_var']

['interval_last3_var']

In [68]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date    : 2017-12-29 12:19:53
# @Author  : guanglinzhou (xdzgl812@163.com)

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict
import gc
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest, chi2

project_path = '/Users/guanglinzhou/Desktop/DC_Mac/DC_Code/'
traindata_output_path = project_path + "preprocess/traindata_output/"

In [69]:
traindata_output = pd.read_csv(traindata_output_path + 'traindata_output.csv')

In [70]:
traindata_output.head()

,userid,actionType1,actionType2,actionType3,actionType4,actionType5,actionType6,actionType7,actionType8,actionType9,...,interval_mean,interval_var,interval_min,interval_lastvale1,interval_lastvale2,interval_lastvale3,interval_lasetvale4,interval_last3_mean,interval_last3_var,first_interval
0,100000000013,79,1,4,1,32,18,1,4,3,...,203785.82,8.829965e+11,2,240330,69377,180836,397436,163514.33,5.020841e+09,10
1,100000000111,1,0,0,0,1,1,0,0,0,...,23.00,1.000000e+02,13,33,13,0,0,15.33,1.842200e+02,13
2,100000000127,2,0,0,0,2,0,2,0,0,...,1423919.80,2.946155e+12,46,3266886,3766778,46,85737,2344570.00,2.790045e+12,152
3,100000000231,15,6,2,5,10,6,0,0,0,...,412180.60,1.064041e+12,3,5,55,9781,12,3280.33,2.112975e+07,18
4,100000000379,42,3,7,6,14,11,1,0,0,...,361943.48,5.161138e+11,2,242804,41,3,14800,80949.33,1.309847e+10,186428

In [71]:
orin_traindata_output = traindata_output

In [72]:
orin_traindata_output.head()

,userid,actionType1,actionType2,actionType3,actionType4,actionType5,actionType6,actionType7,actionType8,actionType9,...,interval_mean,interval_var,interval_min,interval_lastvale1,interval_lastvale2,interval_lastvale3,interval_lasetvale4,interval_last3_mean,interval_last3_var,first_interval
0,100000000013,79,1,4,1,32,18,1,4,3,...,203785.82,8.829965e+11,2,240330,69377,180836,397436,163514.33,5.020841e+09,10
1,100000000111,1,0,0,0,1,1,0,0,0,...,23.00,1.000000e+02,13,33,13,0,0,15.33,1.842200e+02,13
2,100000000127,2,0,0,0,2,0,2,0,0,...,1423919.80,2.946155e+12,46,3266886,3766778,46,85737,2344570.00,2.790045e+12,152
3,100000000231,15,6,2,5,10,6,0,0,0,...,412180.60,1.064041e+12,3,5,55,9781,12,3280.33,2.112975e+07,18
4,100000000379,42,3,7,6,14,11,1,0,0,...,361943.48,5.161138e+11,2,242804,41,3,14800,80949.33,1.309847e+10,186428

In [75]:
orin_traindata_output = pd.read_csv(traindata_output_path + 'traindata_output.csv')
traindata_output = pd.read_csv(traindata_output_path + 'traindata_output.csv')
traindata_output.fillna(0, inplace=True)
y = traindata_output['orderType']
del traindata_output['userid']
del traindata_output['orderType']
X = traindata_output

select_k_best_classifier = SelectKBest(score_func=chi2,k=70)
chi2_data = select_k_best_classifier.fit_transform(X, y)
columns_index = select_k_best_classifier.get_support(indices=True)

In [77]:
columns_mask=select_k_best_classifier.get_support()

In [79]:
len(columns_mask)

80

In [80]:
len(columns_index)

70

In [104]:
testdata_output_path = project_path + "preprocess/testdata_output/"
traindata_output_variance_sel=pd.read_csv(traindata_output_path + 'traindata_output.csv')
testdata_output_variance_sel=pd.read_csv(testdata_output_path + 'testdata_output.csv')

In [105]:
len(traindata_output_variance_sel.columns)

85

In [106]:
len(testdata_output_variance_sel.columns)

84

In [108]:
print(traindata_output_variance_sel.shape)
print(testdata_output_variance_sel.shape)

(40307, 85)
(10076, 84)

In [100]:
for column in traindata_output_variance_sel.columns:
    if(column not in testdata_output_variance_sel.columns):
        print(column)

orderType

In [92]:
traindata_output_variance_sel.columns

Index(['userid', 'actionType1', 'actionType2', 'actionType3', 'actionType4',
       'actionType5', 'actionType6', 'actionType7', 'actionType8',
       'actionType9', 'orderType', 'user_purchase_orderType01_times',
       'if_exist_rate_largerthan_2', 'user_click_num', 'user_click_rate',
       'user_purchase_num', 'user_open_app_num', 'user_purchase_rate',
       'user_orderType0_rate_largerthan_2',
       'actionType234_after_submit_last_order', 'tages_num', 'keywords_num',
       'browse_product_num_by_day', 'firstType', 'daoshuType1', 'daoshuType2',
       'daoshuType3', 'to_closest_1_time', 'to_closest_2_time',
       'to_closest_2_time_interval_mean', 'to_closest_2_time_interval_min',
       'to_closest_3_dist', 'to_closest_3_time',
       'to_closest_3_time_interval_mean', 'to_closest_3_time_interval_min',
       'to_closest_4_time', 'to_closest_4_time_interval_min',
       'to_closest_5_time', 'to_closest_5_dist',
       'to_closest_5_time_interval_mean', 'to_closest_5_time_interval_min',
       'to_closest_5_time_interval_max', 'to_closest_5_time_interval_var',
       'to_closest_6_time', 'to_closest_6_time_interval_mean',
       'to_closest_6_time_interval_min', 'to_closest_6_time_interval_max',
       'to_closest_6_time_interval_var', 'to_closest_7_time',
       'to_closest_7_time_interval_mean', 'to_closest_7_time_interval_min',
       'to_closest_7_time_interval_max', 'to_closest_7_time_interval_var',
       'to_closest_8_dist', 'to_closest_8_time',
       'to_closest_8_time_interval_mean', 'to_closest_8_time_interval_min',
       'to_closest_8_time_interval_var', 'to_closest_9_time',
       'to_closest_9_time_interval_mean', 'to_closest_9_time_interval_var',
       'to_closest_9_time_interval_mean_multi_var', 'interval_mean',
       'interval_var', 'interval_min', 'interval_lastvale1',
       'interval_lastvale2', 'interval_lastvale3', 'interval_lasetvale4',
       'interval_last3_mean', 'interval_last3_var', 'first_interval',
       'userid.1', 'orderType.1'],
      dtype='object')