In [633]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date    : 2017-12-25 12:19:53
# @Author  : guanglinzhou (xdzgl812@163.com)

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter, defaultdict

################
print("start processing traindata")
project_path = '/Users/guanglinzhou/Desktop/DC_Mac/DC_Code/'
traindata_path = project_path + "data/train/"
testdata_path = project_path + "data/test/"
traindata_output_path = project_path + "preprocess/"
action_train = pd.read_csv(traindata_path + "action_train.csv")
orderFuture_train = pd.read_csv(traindata_path + "orderFuture_train.csv")
orderHistory_train = pd.read_csv(traindata_path + "orderHistory_train.csv")
userComment_train = pd.read_csv(traindata_path + "userComment_train.csv")
userProfile_train = pd.read_csv(traindata_path + "userProfile_train.csv")

orderFuture_test=pd.read_csv(testdata_path + "orderFuture_test.csv")

start processing traindata

In [634]:
orderHistory_train[orderHistory_train['orderType']==1].shape

(3169, 7)

In [635]:
orderHistory_train.shape

(20653, 7)

In [636]:
orderFuture_train.shape

(40307, 2)

In [637]:
len(orderFuture_train['userid'].unique())

40307

In [638]:
orderFuture_test.shape

(10076, 1)

In [639]:
len(orderFuture_test['userid'].unique())

10076

In [640]:
orderHistory_type1_train=orderHistory_train[orderHistory_train['orderType']==1]

In [649]:
len(orderHistory_type1_train['userid'].unique())

1745

In [648]:
print(100000001505 in np.array(orderFuture_train['userid']))

True

In [655]:
import numpy as np

In [656]:
aa=np.array([1,2,3,4,2,3])

In [664]:
b=np.where(aa==2)

In [665]:
a={'A':{1:2,3:4}}

In [666]:
a

{'A': {1: 2, 3: 4}}

In [667]:
df=pd.DataFrame.from_dict(a,orient='index')

In [668]:
df

   1  3
A  2  4